{% extends 'index.html' %} {% block content %}
{% load static %}
    <h1>Task List</h1>

    <h2>To do</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Due Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in todo_tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.due_date }}</td>
                <td>
                    <a href="#"><i class="fas fa-check"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Done</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Due Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in done_tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.due_date }}</td>
                <td>
                    <a href="#"><i class="fas fa-undo"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock content %}